@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.default {
    font-family: "Poppins", sans-serif;
    font-style: normal;

    color: #3A3A3A;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgba(224, 44, 109, 1);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

main>section {
    margin-bottom: 100px;
}







.navbar {
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 50px;
}

.nav-lists {
    list-style: none;
    gap: 30px;
}

.nav-lists a {
    color: #3A3A3A;
    text-decoration: none;
}



.header-content {
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

.header-text-container {
    max-width: 580px;
}

.header-text-container .heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.header-text-container .heading-para {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.header-image-container {
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    padding: 30px 20px;
}






.sponsors-container {
    box-shadow: 0 0 0.8px #3A3A3A;
    justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
}

.collections-heading {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;

    margin-bottom: 30px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    justify-items: center;
}

.product {
    max-width: 330px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}

.product .product-img {
    margin: 17px 15px 16px;
}

.product-text-container {
    margin-left: 15px;
}

.product-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 6px;
}

.produt-price {
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}

.rating {
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rate {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
    line-height: 22px;
    letter-spacing: 0.1px;
}

.avaibility {
    color: rgba(120, 120, 133, 1);
    font-size: 0.875rem;
    font-weight: 700;
    max-width: 200px;
    line-height: 143%;
    letter-spacing: 1.8%;
    margin-bottom: 17px;
}

.popular-collection .see-more-container {
    justify-content: right;
    margin-right: 5.5%;
}

.popular-collection .see-more {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
}


.last-section-container {
    justify-content: center;
    align-items: center;
    gap: 96px;
}


.contents-container h3 {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 60px;
    color: rgba(10, 8, 38, 1);
    margin-bottom: 16px;
}

.contents-container p {
    max-width: 500px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: rgba(108, 108, 108, 1);
    margin-bottom: 16px;
}

.contents-container button {
    border-radius: 4px;
}



.footer-container {
    background-color: rgba(10, 8, 38, 1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-contents {
    text-align: center;
    margin: 50px auto;
    color: white;
}

.footer-contents h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.copyright1,
.copyright2 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 3px;
}

.copyright2 {
    margin-bottom: 20px;
}

.social {
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}

.social div {
    background-color: rgb(42, 28, 61);
    padding: 8px 9px;
    border-radius: 50%;
}


@media screen and (max-width: 576px) {
    .default {
        padding: 0px 16px;
    }

    .btn-primary {
        font-weight: 500;
    }

    main >section {
        margin-bottom: 50px;
    }

    .navbar,
    .nav-lists {
        flex-direction: column;
        margin: 0 auto;
    }

    .navbar {
        margin: 30px auto;
    }

    .navbar h4 {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 22px;
    }

    .navbar ul {
        text-align: center;
    }

    .header-content {
        flex-direction: column-reverse;
        text-align: center;
        gap: 24px;

        margin-bottom: 50px;
    }

    .header-text-container {
        max-width: 25rem;
    }

    .header-text-container .heading {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.2rem;
    }

    .header-text-container .heading-para {
        max-width: 20rem;
        font-size: 0.875rem;
        font-weight: 500;
        margin: 0 auto 20px;
    }

    .header-image-container {
        justify-content: center;
        background-position: center;
        background-size: contain;
        padding: 20px;
    }

    .header-img{
        width: 70%;
    }

    .sponsors-container {
        max-width: 25rem;
        gap: 1.25rem;
        flex-wrap: wrap;
        margin: 0 auto;
        border-radius: 5px;
    }

    .sponsors-container img {
        width: 20%;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto 3rem;
        gap: 0.9375rem;
    }

    .product {
        width: 100%;
    }

    .last-section-container {
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
    }

    .contents-container h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contents-container p {
        max-width: 85%;
        margin: 0 auto 2.325rem;
    }

    .last-section-container img {
        max-width: 100%;
        margin: 0 auto 3.1rem;
    }

    .footer-container {
        padding: 40px 16px;
        max-width: 100%;
    }
}