@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0; 
}

.default {
  font-family: "Poppins", sans-serif;
  font-style: normal;

  color: #3A3A3A;
  max-width: 1200px;
  margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgba(224, 44, 109, 1);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

main > section {
    margin-bottom: 100px;
}







.navbar {
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 50px;
}

.nav-lists {
    list-style: none;
    gap: 30px;
}

.nav-lists a {
    color: #3A3A3A;
    text-decoration: none;
}



.header-content {
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

.header-text-container {
    max-width: 580px;
}

.header-text-container .heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.header-text-container .heading-para {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.header-image-container {
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    padding: 30px 20px;
}






.sponsors-container {
    box-shadow: 0 0 0.8px #3A3A3A;
    justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
}

.collections-heading {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;

    margin-bottom: 30px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product {
    max-width: 330px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.product .product-img {
    margin: 17px 15px 16px;
}

.product-text-container {
    margin-left: 15px;
}

.product-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 6px;
}

.produt-price {
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}

.rating {
    justify-content: space-between;
    flex-direction: row;
    max-width: 150px;
}

.stars {
    max-width: fit-content;
}

.rate {
    max-width: fit-content;
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
    line-height: 22px;
    letter-spacing: 0.1px;
}